  <!-- Footer-->
  <footer class="py-3 bg-dark <%= adverts.length === 0 ? "fixed-bottom" : '' %> ">
    <div class="container"><p class="m-0 text-center text-white"><%= __('Copyright') %> &copy; NODEPOP | <%= __('Created by Uberth Hernandez') %></p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>